.title{

    font-family: 'Frank Ruhl Libre', serif;

   }

.page{
    font-family: 'Frank Ruhl Libre', serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.8;
    color:black;
    margin-left:0px;
    margin-right: 0px;
}
* {
    box-sizing: border-box;
}
